* {
    margin: 0;
    padding: 0;
}

// Меню
.menu {
    width: 1600px;
    margin: 0 auto;
    background-color: black;

    &-wrp {
        padding: 20px 230px;
        display: flex;
        justify-content: space-between;

        &-logo {
            margin-right: 40px;
            width: 40px;
            height: 40px;
        }

        &-search {
            width: 40px;
            height: 40px;
        }
    }
}

.main {
    width: 1600px;
    margin: 0 auto;

    &-divider {
        position: absolute;
        width: 12px;
        height: 95px;
        background: #f16d7f;
        right: 755px;
    }

    &-first {
        position: relative;
        display: flex;
        justify-content: end;
        background: url("/img/bg-main-block.png"), #f1e4e6;
        background-repeat: no-repeat;

        &-title {
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            padding: 290px 330px 380px 0;
            box-sizing: border-box;
            text-transform: uppercase;

            &-words {
                display: block;
                font-weight: 900;
                font-size: 48px;
                line-height: 58px;
            }

            &-end {
                color: #f16d7f;
            }
        }
    }

    &-discount {
        padding: 65px 230px;
        box-sizing: border-box;

        &-up {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            &-button {
                width: 360px;
                padding: 105px 103px;
                box-sizing: border-box;
                border: none;
                background: rgba(0, 0, 0, 0.65) url("/img/wooman-card.png");
                background-blend-mode: darken;
                cursor: pointer;

                &-percent {
                    display: block;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    text-transform: uppercase;
                    color: #fff;
                }

                &-human {
                    display: block;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                    text-transform: uppercase;
                    color: #f16d7f;
                }

                &:hover {
                    background-blend-mode: lighten;
                }
            }

            & > .main-discount-up-button:nth-child(2) {
                background: rgba(0, 0, 0, 0.65) url("/img/men-card.png");
            }

            & > .main-discount-up-button:last-child {
                background: rgba(0, 0, 0, 0.65) url("/img/child-card.png");
            }
        }

        &-down {
            width: 100%;
            padding: 65px;
            text-align: center;
            border: none;
            background: rgba(0, 0, 0, 0.65) url("/img/things-card.png");
            background-blend-mode: darken;
            cursor: pointer;

            &-percent {
                display: block;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                text-transform: uppercase;
                color: #fff;
            }

            &-text {
                display: block;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                text-transform: uppercase;
                color: #f16d7f;
            }

            &:hover {
                background-blend-mode: lighten;
            }
        }
    }
}
