* {
  margin: 0;
  padding: 0;
}

.header {
  width: 1440px;
  margin: 0 auto;
  padding: 20px 146px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  text-decoration: none;
  display: flex;
}

.header-logo-text {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  color: #173a56;
  align-self: center;
  margin-left: 16px;
}

.wrp-list {
  width: 750px;
  display: flex;
  justify-content: space-between;
}

.header-list {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.header-list-li {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #22343d;
  align-self: center;
  list-style-type: none;
  cursor: pointer;
  transition: font-weight 0.8s ease;
}

.header-list-li:hover {
  font-weight: 600;
}

.header-btn-list {
  width: 300px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.header-btn-list-li{
  align-self: center;
}

.header-btn-list-li-singin {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  background-color: white;
  padding: 10px 25px;
  border: 1px solid #bcd0e5;
  border-radius: 5px;
  cursor: pointer;
  transition: border 0.3s ease;
}

.header-btn-list-li-singin:hover {
  border: 1px solid blue
}

.header-btn-list-li-singup {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  background-color: #02897a;
  color: #fff;
  padding: 10px 25px;
  border: 1px solid #bcd0e5;
  border-radius: 5px;
  cursor: pointer;
  transition: border 0.3s ease;
}

.header-btn-list-li-singup:hover {
  border: 1px solid blue
}

.header-btn-list-li-light{
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.header-btn-list-li-light-svg {
  transition: fill 0.8s ease;
  fill: #02897A;
}

.header-btn-list-li-light:hover > .header-btn-list-li-light-svg{
  fill: aqua;
}
