.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 146px;
  margin-right: 20px;
}
.header-name {
  display: flex;
}
.header-name-link {
  text-decoration: none;
  margin-right: 10px;
}
.header-name-title {
  text-align: center;
  font-size: 30px;
  line-height: 28px;
  color: #173a56;
  padding-top: 5px;
  display: block;
}
.header-list {
  display: flex;
  list-style-type: none;
}
.header-list-li {
  margin-right: 20px;
}
.header-btn-in {
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 10px;
}
.header-btn-up {
  margin-right: 20px;
}
.header-btn-color {
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 10px;
  transition: 1s ease background;
}
.header-btn-color:hover {
  background: #02897a;
}
.header-btn-color:hover > .header-btn-color-svg {
  fill: #fff;
}

.header-btn-color-svg {
  fill: #02897a;
}

.prewie {
  padding-left: 159px;
  padding-bottom: 230px;
  background-image: url(./image/bg-previe.jpg);
  background-repeat: no-repeat;
  background-position-x: 550px;
}

.prewie-title {
  color: #22343d;
  font-size: 40px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 60px;
}

.prewie-title-second {
  display: block;
}

.prewie-description {
  width: 375px;
  color: #22343d;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
  margin-bottom: 45px;
}

.prewie-btn {
  padding: 15px 41px;
  background-color: #02897a;
  border-radius: 5px;
  border: 1px solid #02897a;
  color: white;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
  margin-right: 30px;
}

.prewie-link {
  color: #02897a;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 600;
  text-decoration: underline;
  word-wrap: break-word;
}

.prewie-link::before {
  content: url(./image/arrow.svg);
  margin-right: 5px;
}

.product {
  background-image: url(../image/bg-product.jpg);
  background-repeat: no-repeat;
  padding: 0 146px 90px;
}
.product-title {
  color: #22343D;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 410px;
  display: block;
  margin: 0 auto 57px;
}
.product-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.product-list-li-btn {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 19px;
  background: #02897A;
  margin-bottom: 30px;
}
.product-list-li-btn-svg {
  position: absolute;
  top: 16px;
  left: 20px;
  fill: #fff;
}
.product-list-li-title {
  display: block;
  color: #22343D;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 13px;
}
.product-list-li-description {
  color: #22343D;
  width: 200px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}
.product-list-li:nth-child(2) > .product-list-li-btn {
  background: #740A76;
}
.product-list-li:nth-child(2) > .product-list-li-btn > .product-list-li-btn-svg {
  top: 18px;
  left: 17px;
}

.management {
  background-image: url(../image/bg-management.jpg);
  background-repeat: no-repeat;
  background-position: 600px 150px;
}
.management-text {
  width: 400px;
  padding-left: 145px;
  padding-top: 186px;
  padding-bottom: 150px;
}
.management-text-undertitle {
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}
.management-text-title {
  display: block;
  color: #22343D;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 23px;
}
.management-text-description {
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
}
.management-text-first-title {
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.management-text-first-p {
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 25px;
}
.management-text-second-title {
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.management-text-second-p {
  color: #22343D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 25px;
}

.autoschool {
  height: 1100px;
  background: url(../image/bgschool.png), linear-gradient(#282828, #0F0F0F);
}/*# sourceMappingURL=style.css.map */