@import './header';



.main {
    &-course {
        padding-top: 70px;

        &-title {
            font-weight: 600;
            font-size: 36px;
            line-height: 150%;
            text-align: center;

            &-svgs {
                position: relative;

                &-splashes {
                    position: absolute;
                    top: -30px;
                    left: -19px;
                    width: 20px;
                }

                &-lightning {
                    width: 20px;
                    height: 20px;
                    padding: 6px;
                    background-color: #fff4e5;
                }
            }

            &-first {
                color: #ff9500;
            }
        }
    }
}
